body {
  background-color: #f2f3f6;
  margin-top: 100px;
  margin-left: 80%;
}

h1 {
  text-decoration: underline;
  font-family: helvetica neue;
  font-size: 11pt;
  font-weight: 50px;
  text-decoration: none;
}

h2 {
  text-align: left;
  font-family: helvetica neue;
  font-size: 11pt;
  font-weight: 100px;
  text-decoration: lawngreen;
  text-decoration: line-through;
  text-decoration-color: yellowgreen;
}

h3 {
  margin-top: 100px;
  font-family: helvetica neue;
  font-size: 11pt;
  font-weight: 100px;
}

/* Make the canvas cover the full viewport */
#particle-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Places it behind your other elements */
}



#logo-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  pointer-events: none; /* Ensures the logo doesn't interfere with page interactions */
}

canvas {
  display: block;
}
